@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Instrument+Serif:ital@0;1&display=swap");
@import "tailwindcss";

@theme {
  --font-instrument-serif: "Instrument Serif", serif;
  --font-inika: "Inika", serif;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: oklch(26.6% 0.065 152.934);
  background-color: oklch(96.2% 0.044 156.743);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
